{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container">
      <div class="row">
        <div class="col-sm-6">

    {% if cas %}
      <div class="list-group">
        <a href="{{ url_for('main.ca_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('CAs')}}</h4>
        </a>
        {% for ca in cas %}
          <a href="{{ url_for('main.ca_edit', id=ca.id) }}" class="list-group-item">
            {{ca.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if certificates %}
      <div class="list-group">
        <a href="{{ url_for('main.cert_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Certificates')}}</h4>
        </a>
        {% for cert in certificates %}
          <a href="{{ url_for('main.cert_view', id=cert.id) }}" class="list-group-item">
            {{cert.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}


    {% if crls %}
          <div class="list-group">
            <a href="{{ url_for('main.crl_list')}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{_('CRLs')}}</h4>
            </a>
            {% for crl in crls %}
              <a href="{{ url_for('main.crl_info', id=crl.id) }}" class="list-group-item">
                {{crl.ca.name}} - {{crl.id}}
              </a>
            {% endfor %}
          </div>
    {% endif %}


    {% if services %}
      <div class="list-group">
        <a href="{{ url_for('main.service_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Services')}}</h4>
        </a>
        {% for serv in services %}
          <a href="{{ url_for('main.service_edit', server=serv.id) }}" class="list-group-item">
            {{serv.name}}
          </a>
        {% endfor %}
      </div>
    {% endif %}



    {% if users %}
    <div class="list-group">
          <a href="{{ url_for('main.user_list')}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{_('Users')}}</h4>
          </a>
          {% for u in users %}
            <a href="{{ url_for('main.user', username=u.username) }}" class="list-group-item">
              {{u.username}}
            </a>
          {% endfor %}
      </div>
    {% endif %}

  </div>
</div>


{% endblock %}
